[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "remaCor"]
	path = remaCor
	url = https://github.com/diseaseneurogenomics/remacor
[submodule "variancePartition"]
	path = variancePartition
	url = https://github.com/diseaseneurogenomics/variancepartition
[submodule "zenith"]
	path = zenith
	url = https://github.com/diseaseneurogenomics/zenith
